body {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.sidebar {
    flex: 0 0 25%;
    min-width: 200px;
    max-width: 400px;
    height: 100vh;
    background-color: #0b87cf;
    color: #fff;
    box-shadow: 1px 6px 4px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.sidebar-links {
    display: contents;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 12px 48px 12px;
    text-align: center;
}

.logo-container img {
    scale: 0.8;
    margin: 16px 0 16px 16px;
}

.logo-container h1, .logo-container h2 {
    align-self: left;
    color: white;
    margin: 0 0 0 16px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 24px 0 24px;
    font-size: 24px;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a{
    color: rgba(255,255,255, 0.6);
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.15s ease;
}

.sidebar ul li a:hover {
    color: white;
}

.main-content {
    display: flex;
    flex: 1 0 75%;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #dfe5ee;
}

.header-container {
    background-color: white;
    padding: 24px 48px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.searchbar {
    border-radius: 32px;
    background-color: #dfe5ee;
    border: 2px solid #dfe5ee;
    height: 24px;
    min-width: 30vw;
    padding: 0 12px;
    font-size: 16px;
    outline: none;
    margin-left: 0;
    transition: background-color 0.15s ease, border-color 0.15s ease;
    flex: 1;
    width: auto;
}

.searchbar:hover {
    background-color: #EEF1F6;
    border-color: #EEF1F6;
}

.searchbar:focus {
    background-color: #EEF1F6;
    border-color: #dfe5ee;
}

.header-container .material-icons {
    font-size: 28px;
    vertical-align: middle;
}

.header-btn-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: auto;
    flex-shrink: 0;
}

.header-btn {
    background-color: transparent;
    border: 0px solid black;
    border-radius: 100%;
    color: rgb(128,128,128);
    width: 48px;
    height: 48px;
}

.header-btn:hover {
    color: black;
}

.header-btn:active {
    transform: translate(2px, 2px);
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    flex-shrink: 0;
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px outset rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px 2px #dfe5ee;
}

.account-name {
    font-size: 24px;
    color: #333;
    font-weight: 500;
    margin-left: 4px;
}

.content-container {
    display: grid;
    flex: 1;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    padding: 24px;
    overflow-y: auto;
}

.content-section {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-section label {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

#projects-section {
    grid-row-start: 1;
    grid-row-end: 3;
}

#projects-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

.project-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-left: 6px solid #0b87cf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-content h4 {
    margin: 0;
    font-size: 1.25rem;
}

.project-content p {
    font-size: 0.875rem;
    color: #666;
    margin-top: 8px;
}

.project-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
}

.project-btn {
    cursor: pointer;
    color: #333;
    font-size: 1.5rem;
    transition: color 0.15s ease;
}

.project-btn:hover {
    color: #0b87cf;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#announcements-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

.announcement-card {
    background-color: white;
    border-left: 6px solid #0b87cf;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.announcement-card h5 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.announcement-card p {
    font-size: 0.75rem;
    color: #666;
    margin-top: 8px;
}

#trending-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
}

.trending-entry {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.profile-pic-small {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px outset rgba(0, 0, 0, 0.3);
    grid-row: 1 / 3;
}

.trending-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px 0 -24px 0;
}

.trending-username {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

.trending-project {
    font-size: 0.875rem;
    color: #666;
}