.card-content p {
    font-size: 0.75rem;
}

#announcements-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

.card h5 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}