:root {
  /* Light Theme Defaults */
  --sidebar-bg: #0b87cf;
  --header-bg: white;
  --body-bg: #dfe5ee;
  --searchbar-bg: #e0e4e8;
  --searchbar-border: #ccc;
  --header-btn-fg: rgb(128, 128, 128);
  --profile-pic-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.1);
  --account-name-fg: rgba(0, 0, 0, 0.8);
  --account-username-fg: rgba(0, 0, 0, 0.8);
  --card-bg: #fff;
  --card-border: white;
  --card-border-hover: rgba(255, 255, 255, 0.1);
  --card-h4-fg: black;
  --card-h5-fg: #050505;
  --card-fg: #666;
  --card-favorite-bg: #fff8e1;
  --card-favorite-border: #ffd700;
  --card-unread-bg: #f0f8ff;
  --card-unread-border: #0b87cf;
}

body.dark-mode {
  /* Dark Theme Overrides */
  --sidebar-bg: rgb(24, 24, 24);
  --header-bg: rgba(255, 255, 255, 0.1);
  --body-bg: rgb(48, 48, 48);
  --searchbar-bg: rgba(255, 255, 255, 0.1);
  --searchbar-border: rgba(255, 255, 255, 0.05);
  --header-btn-fg: rgb(128, 128, 128);
  --header-btn-fg-hover: white;
  --profile-pic-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.1);
  --account-name-fg: rgba(255, 255, 255, 0.5);
  --account-username-fg: rgba(255, 255, 255, 0.5);
  --card-bg: rgba(255, 255, 255, 0.1);
  --card-bg-hover: rgba(255, 255, 255, 0.2);
  --card-h4-fg: #333;
  --card-h5-fg: #333;
  --card-fg: #666;
  --card-border: rgba(255, 255, 255, 0.1);
  --card-border-hover: rgba(255, 255, 255, 0.1);
  --card-favorite-bg: rgba(255, 248, 225, 0.6);
  --card-favorite-border: #ffcc00;
  --card-unread-bg: rgba(240, 248, 255, 0.6);
  --card-unread-border: rgba(11, 135, 207, 0.2);
}

body {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
}

.main-content {
    display: flex;
    flex: 1 0 75%;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.content-container {
    display: grid;
    flex: 1;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    padding: 24px;
    overflow-y: auto;
}

.content-section {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-section label {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#no-results-message{
    opacity: 0;
    font-style: italic;
    font-size: 0.875rem;
    color: #888;
    margin: 16px 0 0 16px;
}