body {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-content {
    display: flex;
    flex: 1 0 75%;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #dfe5ee;
}

.content-container {
    display: grid;
    flex: 1;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    padding: 24px;
    overflow-y: auto;
}

.content-section {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-section label {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#no-results-message{
    opacity: 0;
    font-style: italic;
    font-size: 0.875rem;
    color: #888;
    margin: 16px 0 0 16px;
}