.header-container {
    background-color: var(--header-bg);
    padding: 24px 48px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.searchbar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 200px;
}

.searchbar {
    border-radius: 32px;
    background-color: var(--searchbar-bg);
    border: 2px solid var(--searchbar-border);
    height: 24px;
    min-width: 30vw;
    padding: 0 40px 0 40px;
    font-size: 16px;
    outline: none;
    margin-left: 0;
    transition: background-color 0.15s ease, border-color 0.15s ease;
    flex: 1 1 0;
    width: 100%;
}

.searchbar::placeholder {
    color: #888;
    opacity: 1;
    transition: opacity 0.2s;
}

.searchbar:focus::placeholder {
    opacity: 0;
}

.searchbar-icon {
    position: absolute;
    left: 4px;
    color: #888;
    font-size: 24px;
    pointer-events: none;
    transition: opacity 0.2s;
}

.searchbar:focus ~ .searchbar-icon {
    pointer-events: none;
}

.searchbar-clear {
    opacity: 0;
    position: absolute;
    display: none;
    right: 4px;
    scale: 0.8;
    color: #888;
    cursor: pointer;
    transition: opacity 0.2s;
    pointer-events: none;
}

.searchbar-clear.visible {
    opacity: 1;
    pointer-events: auto;
}

.searchbar-clear:hover {
    color: black;
}

.searchbar:hover {
    background-color: #EEF1F6;
    border-color: #EEF1F6;
}

.searchbar:focus {
    background-color: #EEF1F6;
    border-color: #dfe5ee;
}

.header-container .material-icons {
    font-size: 28px;
    vertical-align: middle;
}

.header-btn-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: auto;
    flex-shrink: 0;
}

.header-btn {
    background-color: transparent;
    border: 0px solid black;
    border-radius: 100%;
    color: var(--header-btn-fg);
    width: 48px;
    height: 48px;
}

.header-btn:hover {
    color: var(--header-btn-fg-hover);
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    flex-shrink: 0;
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px outset rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.1);
}

.account-info {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    flex-shrink: 0;
}

.account-name {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    margin-left: 4px;
}

.account-username {
    font-size: 11px;
    font-weight: 500;
    margin-left: 4px;
}

