.card {
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    display: flex;
    cursor: pointer;
}

#projects-section {
    grid-row-start: 1;
    grid-row-end: 3;
}

#projects-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}
